<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça seu login</title>
    <link rel="stylesheet" href="/src/View/css/style2.css">
</head>
<body>
    <header>
        <h1>Realize seu login</h1>
    </header>

    <main>
        <form action="" method="post">
            <label for="Email_Usuario">Endereço email:</label>
            <input name="Email_Usuario" type="email" required>

            <label for="Senha_Usuario">Senha:</label>
            <input name="Senha_Usuario" type="password" required>

            <input name="EnviarLogin" type="submit" id="" value="Enviar">
        </form>
    </main>
</body>
</html>