<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PainelVeículo</title>
</head>
<style>
    /*só por enquanto*/
header{
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    width: 100%;
    z-index: 1000;
    margin-bottom: 30px; 
}

.navigation a button {
   background: white;
   border: none;
   text-decoration: none;
   color: #333;
   font-weight: 600;
   font-size: 20px;
   transition: color 0.3s;
     }




</style>
<body>
<header>
<nav class="navigation">
    <a href=""><button>Veículos</button></a>
    <a href=""><button>Propostas</button></a>
</nav>
</header>

</body>
</html>